* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 10px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #dcd7ba;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #16161d;
  margin-left: 2px;
}

#workspaces button {
  color: #c8c093;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #7fb4ca;
  border-radius: 5px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1f1f28;
  border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#custom-lock,
#custom-power {
  background-color: #16161d;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: #7e9cd8;
  border-radius: 5px;
}

#battery {
  color: #98bb6c;
}

#battery.charging {
  color: #98bb6c;
}

#battery.warning:not(.charging) {
  color: #e82424;
}

#backlight {
  color: #e6c384;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #7aa89f;
  border-radius: 5px 0px 0px 5px;
}

#custom-music {
  color: #957fb8;
  border-radius: 5px;
}

#custom-lock {
  color: #dcd7ba;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #c34043;
}
