/* Kanagawa theme for Waybar */
* {
  border: none;
  font-family: 'JetBrainsMono Nerd Font', 'FiraCode Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 13px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 20px;
}

window#waybar {
  background: #1f1f28;
}

#window,
#clock,
#workspaces,
#tray,
#bluetooth,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-exit,
#cpu,
#mpd {
  background-color: #2a2a37;
  color: #c8c093;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#tray,
#bluetooth,
#pulseaudio {
  margin-right: 5px;
}

#tray {
  font-size: 13px;
}

#workspaces {
  padding: 0px 0px;
  margin-left: 5px;
}

#workspaces button {
  background-color: #2a2a37;
  color: #727169;
}

#workspaces button.active {
  background: #223249;
  color: #dcd7ba;
}

#workspaces button.persistent {
  color: #54546d;
}
