[SddmGreeterTheme]
Name=bluebuild-andersns
Description=Custom SDDM theme for bluebuild-andersns-desktop
Author=andersns
Copyright=(c) 2025
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/andersns/bluebuild-andersns-desktop
Screenshot=loginscreen.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=bluebuild-andersns
Theme-API=2.0
